#ResBos2 Configuration File
Version = 2.0.1

#####################
# Running Mode Info #
#####################
mode = MCFull 
XSec = Resummation

####################
# VEGAS PARAMETERS #
####################
itmax1 = 10
ncall1 = 10000
itmax2 = 10
ncall2 = 10000
iSeed = 6270355 

################
# Process Info #
################
beam = pp
ECM = INPUTECM
Process = WHICHBOSON
CKM = true
HiggsDecay = AA
PDF = MYPDF
iSet = SETNUMBER
KinematicCorrection = true

##########################
# Resummation Parameters #
##########################
# Resummation Orders and Scheme
scheme = CSS
AOrder = AORDER
BOrder = BORDER
COrder = CORDER
HOrder = 2

# Scales
C1 = C1SCALE
C2 = C2SCALE
C3 = 4

# Non-Pert Info
NonPert = NonPertFormat
bMax = 1.123
Q0 = 1.6
ngag = 1
g = G1NUMBER, G2NUMBER, G3NUMBER, G4NUMBER, G5NUMBER, G6NUMBER

#####################################
# Fixed-Order/Asymptotic Parameters #
#####################################
PertOrder = 1
AsymOrder = 1
DeltaSigmaOrder = 2
scale = MT
muF = 1
muR = 1

#############
# EW Inputs #
#############
EWMassScheme = OnShell
mT = 173.5
gamT = 0
mH = 125
gamH = 0.004
mW = 80.385
gamW = 2.108
mZ = 91.1876
gamZ = 2.4952

# Quark Masses
mu = 0
md = 0
ms = 0
mc = 1.3
mb = 4.75

EWInputs = GFMWMZ
GF = 1.1663787E-5 
AlphaEMOrder = 1
AlphaEM0 = 0.00729735
AlphaEMMZ = 0.007763340902
sinw2 = 0.22255

#########################
# Cuts: For particles   #
# Note: -1 means no max #
#########################
# Resummation Phase Space Cuts
qMin = QVALUE
qMax = QVALUE
qtMin = 0
qtMax = 3000
yMin = -5.0
yMax = 5.0

# Lepton cuts
ptlMin = 0
ptlMax = -1
ylMin = -10
ylMax = 10

# Missing Energy Cut
METMin = 0
METMax = -1

# DeltaR cuts
drllMin = 0
drllMax = -1

# Pt cut on sorted leptons
ptl1Min = 0
ptl2Min = 0
ptl1Max = -1
ptl2Max = -1

##############
# Histograms #
##############
HistogramMode = BuiltIn # Other options are YODA and ROOT
WriteEvent = false

###################
# Running Options #
###################
nThreads = 1
GridGen = true
