##########################
# Electroweak Parameters #
##########################
GF = 1.1663787E-5
AlphaEMOrder = 1
AlphaEM0 = 0.00729735
AlphaEMMZ = 0.007763340902
sinw2 = 0.22255

# Masses
mu = 0
md = 0
ms = 0
mc = 1.3
mb = 4.75
mt = 173.5
mz = 91.1876

# Widths
gamW = 2.108
gamZ = 2.4952
gamT = 0
gamH = 0.004

#########################
# Calculation Paramters #
#########################
Scheme = CSS
KinematicCorrection = true
PDF = pp830a016
iSet = 0

# Resum order
AOrder = 4
BOrder = 3
COrder = 2
HOrder = 2

# Non-Pert form
NonPert = BLNY
bMax = 0.5
Q0 = 1.6
g = 0.21, 0.68, -0.126, 0.0, 0.0, 0.0

# Fixed Order
AsymOrder = 2
PertOrder = 1
Scale = MT

# Scales
C1 = 1
C2 = 1
C3 = 1
muR = 1
muF = 1
